<!-- converter/templates/select_conversion.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Select Conversion Type</title>
    <!-- Styles ... -->
</head>
<body>
    <h1>Video to Audio Converter</h1>
   <!-- select_conversion.html -->
<form method="post">
    {% csrf_token %}
    <label for="conversion_type">Select Conversion Type:</label>
    <select id="conversion_type" name="conversion_type">
        {% for option in conversion_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    <button type="submit">Proceed</button>
</form>

    {% if audio_file_path %}
        <audio controls id="audio_player">
            <source src="{{ audio_file_path }}" type="audio/mpeg">
        </audio>
    {% endif %}
    {% if result_text %}
        <div class="result-text {% if error %}error-text{% endif %}">
            {{ result_text }}
        </div>
    {% endif %}
</body>
</html>
